@media only screen and (min-width: 960px) {
    .kampungkb-size{
        min-width: 800px;
    }
    
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    .kampungkb-size {
        min-width: 1300px;
    }
}
@media only screen and (min-width: 2000px) {
    .kampungkb-size {
        min-width: 1900px;
    }
}
@media only screen and (max-device-width: 480px) {
    .kampungkb-size {
        min-width: 400px;
    }
}
@media only screen and (device-width: 768px) {
    .kampungkb-size {
        min-width: 700px;
    }
}
.kampungkb-table {
    padding: 10px;
}